body {
    font-family: Arial, sans-serif;
    background-image:url(../image/background.jpg)
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.8s ease-in-out;
    border-radius: 10px;

}

h2 {
    text-align: center;
    color: #444;
}

textarea {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    display: block;
    font-size: 14px;
    resize: none;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
    transition: 0.3s ease;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

button {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

a {
    display: block;
    margin-top: 10px;
    color: purple;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, em, strong {
    margin: 5px 0;
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.fade {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease forwards;
}

.judul-3D {
    font-size: 36px;
    color: #222;
    text-align: center;
    text-shadow: 2px 2px 0 #ccc, 4px 4px 0 #bbb;
    transform: perspective(500px); rotateX(5deg);
    transition: all 0.4s ease-in-out
    font-weight: bold;
    letter-spacing: 1px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}